/* ---- Gebo Admin blue theme ---- */

    .navbar-inner {
        background: #fefefe;
        background: -moz-linear-gradient(top, #fefefe 0%, #f6f6f6 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f6f6f6));
        background: -webkit-linear-gradient(top, #fefefe 0%,#f6f6f6 100%);
        background: -o-linear-gradient(top, #fefefe 0%,#f6f6f6 100%);
        background: -ms-linear-gradient(top, #fefefe 0%,#f6f6f6 100%);
        background: linear-gradient(top, #fefefe 0%,#f6f6f6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f6f6f6',GradientType=0 );
    }
    .navbar .nav > li > a {
        color: #444444;
    }
    .navbar .nav > li:hover > a {
        color:#333333;
    }
    .navbar .nav .active > a, .navbar .nav .active > a:hover {
        background: #252525 !important;
    }
    .navbar .divider-vertical {
        border-left-color:#2078A1;
        border-right-color:#3497C2;
    }
    .dropdown-menu li > a:hover, .dropdown-menu .active > a,
	.dropdown-menu .active > a:hover,
    .nav-list > .active > a, .nav-list > .active > a:hover,
    span.dynatree-active a {
        background: #48a6d2 !important;
    }
	
	.table thead th {background-color:#ebf2f6 !important}
	.dataTables_wrapper th.sorting_asc,.dataTables_wrapper th.sorting_desc {background-color:#d4e3eb !important}
